.App {
display: flex; 
flex-direction: column; 
justify-content: center;
align-items: center;
align-content: center;
height: 100vh;
}
.timer {
  border: 1 px solid red;
  background-color: rgb(74, 94, 65);
  color: white;
  font-weight: 700;
  display: inline-block;
  margin-top: 10px;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  text-align: center;
  align-content: center;
  font-size: 80px;
}
.timerButton{
  padding: 1rem 4rem;
  margin-top: 2rem;
  background-color: rgb(166, 218, 166);
  border: 1px solid rgb(166, 218, 166);
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s ease;
}

.timerButton:hover{
  background-color: rgb(226, 250, 8);
  font-size: 22px;
}
